[submodule "themes/cmm-openedx"]
	path = themes/cmm-openedx
	url = https://github.com/eol-uchile/cmm-openedx
[submodule "themes/eduonline-ing"]
	path = themes/eduonline-ing
	url = https://github.com/eol-uchile/eol_eduonline_ing_theme
[submodule "themes/eol-uchile"]
	path = themes/eol-uchile
	url = https://github.com/eol-uchile/eol-uchile-theme
[submodule "themes/edx-ucursos-theme"]
	path = themes/edx-ucursos-theme
	url = https://github.com/eol-uchile/edx-ucursos-theme
[submodule "themes/eol-uchile-theme-2020"]
	path = themes/eol-uchile-2020
	url = https://github.com/eol-uchile/eol-uchile-theme-2020
[submodule "themes/redfid-theme"]
	path = themes/redfid-theme
	url = https://github.com/eol-uchile/redfid-theme
[submodule "themes/virtual-labx-theme"]
	path = themes/virtual-labx-theme
	url = https://github.com/eol-uchile/virtual-labx-theme.git
[submodule "themes/alpha-project-theme"]
	path = themes/alpha-project-theme
	url = https://github.com/eol-uchile/alpha-project-theme
